.movieRow {
	margin-bottom: 30px;
}

.movieRow h2 {
	margin: 0px 0px 0px 30px;
}

.movieRow--listarea {
	overflow-x: hidden;
	padding-left: 30px;
}

.movieRow--list {
	transition: all ease 0.5s;
	/* suavizar ao rolar carossel */
}

.movieRow--item {
	display: inline-block;
	width: 150px;
	cursor: pointer;
}

.movieRow--item img {
	width: 100%;
	/*diminuir a em 90% o tamanho da img*/
	transform: scale(0.9);
	/*animar img em qualquer alteração:*/
	transition: all ease 0.2s;
}

.movieRow--item img:hover {
	/*aumentar a escala para 100% da img ao mover mouse*/
	transform: scale(1)
}

.movieRow--left, .movieRow--right {
	position: absolute;
	width: 40px;
	height: 225px;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
	opacity: 0;
	transition: all ease 0.5s;
}

.movieRow--left {
	left: 0;
}

.movieRow--right {
	right: 0;
}

/* ao parar mouse em caroussel de filmes, trazer as opções: */

.movieRow:hover .movieRow--left, .movieRow:hover .movieRow--right {
	opacity: 1;
}