.featured {
	height: 100vh;
}

.featured--vertical {
	/* vamos herdar do pai featured estas medidas de width e height*/
	width: inherit;
	height: inherit;
	background: linear-gradient(to top, #111 10%, transparent 90%)
}

.featured--horizontal {
	/* vamos herdar do pai featured estas medidas de width e height*/
	width: inherit;
	height: inherit;
	background: linear-gradient(to right, #111 10%, transparent 70%)
}